$border-radius: 0;
$font-family: 'Montserrat', sans-serif;
$font-size-base: 16px;
$font-weight-base: 400;
$planner-unplanned: rgb(255, 153, 102);
$planner-planned: #639F89;
$planner-disabled-day: rgba(181, 178, 190, 0.8);
$planner-enabled-day: rgba(253, 245, 230, 0.3);