<div ng-controller="homeCtrl" class="sidebar-collapse menu-scroll">

    <ul id="side-menu" fluid-menu="services/flow_module_service/session_modules" class="nav admin-nav-main">
        <li class="user-panel">
            <div class="thumb"><img
                    ng-src="{{ userProfile.avatar }}"
                    class="img-circle"/></div>
            <div class="info">
                <p>{{userProfile.fullName}}</p>
            </div>
            <div class="clearfix"></div>
        </li>
    </ul>
</div>