<html ng-app="home">
<head>
    <title>Welcome to Rex War++</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <!-- Loading core css-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- Loading template style-->
    <link rel="stylesheet" data-ng-href="css/themes/style1/pink-blue.css"/>

    <link rel="stylesheet" href="css/style-responsive.css"/>
    <!-- Loading fluid style -->
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="css/app.css" rel="stylesheet">

    <!-- Loading library javascript-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <script src="bower_components/angular/angular.js"></script>

    <script src="js/libs/angular-ui-router.js"></script>

    <script src="js/libs/ocLazyLoad.js"></script>

    <!-- Loading global plugin-->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="bower_components/ng-file-upload/angular-file-upload.min.js"></script>

    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>

    <script src="bower_components/angular-resource/angular-resource.min.js"></script>

    <script src="js/helper.js"></script>

    <script src="js/fluid.js"></script>
    <!-- util -->
    <script src="js/directives.js"></script>

    <script src="js/factories.js"></script>

    <script src="js/services.js"></script>
    <!-- controllers -->
    <script src="js/controller/home-controller.js"></script>


    <!--Load script for each page using LazyLoad-->
</head>

<body ng-controller="signinCtrl" style="overflow: hidden">

<div class="header-about">
    <div class="pull-left">Rex War++ v{{ver}}</div>
    <div class="pull-right"><span>Powered by <a class="text-info"
                                                href="http://www.jsofttechnologies.com">Jsofttechnologies </a>of
                        GEM</span></div>
</div>
<div id="signin-page">
    <div class="page-form panel-login">
        <form class="form-login" class="form" method="post" ng-submit="login(user)">
            <div class="header-login">
                <h1><img class="img-responsive" src="images/icons/65yrs.jpg"/></h1>
            </div>
            <div class="body-content">
                <flow-message id="signinMessage"></flow-message>
                <div class="form-group">
                    <p>Login with Rex War account:</p>

                    <div class="input-icon right"><i class="fa fa-user"></i>
                        <input type="text" placeholder="Username" name="username" class="form-control" required
                               autofocus ng-model="user.username"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icon right"><i class="fa fa-key"></i>
                        <input type="password" placeholder="Password" name="password" class="form-control" required
                               autofocus ng-model="user.password"/>
                    </div>
                </div>
                <div class="form-group pull-left">
                    <flow-check disabled="false" required="false" label="Keep me signed in"
                                model="user.remember"></flow-check>
                    <!--   <div class="checkbox-list">

                           <label>
                               <input type="checkbox" ng-model="user.remember"/>&nbsp;
                               Keep me signed in
                           </label>
                       </div>-->
                </div>
                <div class="form-group pull-right">
                    <flow-loader loader-class="fa fa-spin fa-spinner">
                        <button type="submit" class="btn btn-danger">
                            Log In
                            &nbsp;
                            <i class="fa fa-chevron-circle-right"></i>
                        </button>
                    </flow-loader>
                </div>
                <div class="clearfix"></div>
                <!-- <div class="forget-password">
                     <h4>Forgotten your Password?</h4>

                     <p>no worries, click <a href='javascript:void(0);' class='btn-forgot-pwd'>here</a> to reset your
                         password.</p>
                 </div>-->
                <!--  <hr/>
               <p>Don't have an account? <a id="btn-register" href="/#/extra-signup">Register Now</a>
                </p> -->

            </div>


        </form>
    </div>
</div>
</body>

</html>

