<div class="container-fluid" ng-controller="pageCtrl">
    <form id="{{flow.getElementFlowId('page_edit_form')}}" class="form-horizontal" ng-submit="save()" novalidate>

        <input id="{{flow.getElementFlowId('page_submit')}}" type="submit"
               style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>

        <flow-field column="12" model="task.pageEdit.home" label="Url" type="text" required="true"></flow-field>

        <flow-check disabled="false" required="false" column="4" class="col-lg-offset-2 col-md-offset-2"
                    model="task.pageEdit.autoGet"
                    label="Auto GET"></flow-check>
        <flow-check disabled="false" required="false" column="4" class="col-lg-offset-2 col-md-offset-2"
                    model="task.pageEdit.isHome"
                    label="Home"></flow-check>
        <flow-check disabled="false" required="false" column="4" class="col-lg-offset-2 col-md-offset-2"
                    model="task.pageEdit.pageLinkEnabled"
                    label="Page link"></flow-check>

        <flow-field column="6" model="task.pageEdit.name" label="Name" type="text" required="true"></flow-field>

        <flow-field column="6" model="task.pageEdit.title" label="Title" type="text" required="true"></flow-field>

        <flow-field column="6" model="task.pageEdit.get" label="GET URI" type="text"></flow-field>

        <flow-text-area column="6" model="task.pageEdit.getParam" label="GET Param (JSON)"></flow-text-area>

        <flow-field column="6" model="task.pageEdit.post" label="POST URI" type="text"></flow-field>
        <flow-text-area column="6" model="task.pageEdit.postParam" label="POST Param (JSON)"></flow-text-area>

        <flow-field column="6" model="task.pageEdit.put" label="PUT URI" type="text"></flow-field>
        <flow-text-area column="6" model="task.pageEdit.putParam" label="PUT Param (JSON)"></flow-text-area>

        <flow-field column="6" model="task.pageEdit.delURL" label="DELETE URI" type="text"></flow-field>
        <flow-text-area column="6" model="task.pageEdit.delParam" label="DELETE Param (JSON)"></flow-text-area>


        <flow-modal id="{{flow.getElementFlowId('pageDeleteModal')}}">

            <div class="panel panel-warning">

                <div class="panel-heading">Warning</div>
                <div class="panel-body">Do you want to delete {{task.pageEdit.name}}?</div>
                <div class="panel-footer">
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-warning field-margin" ng-click="deleteConfirm()">Yes
                        </button>
                        <button type="button" class="btn btn-info field-margin" ng-click="deleteCancel()">No</button>
                    </div>
                </div>
            </div>

        </flow-modal>

    </form>
</div>