.avatar-div {
    height: 100px;
    width: 50pc;
    float: left;
}

.text-div {
    text-align: left;
    margin-left: 5px;
    margin-right: auto;
}


.customerFixedHeight
{
    max-height: 500px;
    overflow-y: auto;
}

.draggable-row-customer {
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    height: 45px;
}

.draggable-row-customer td {
    text-align: left;
}