<div class="container-fluid" ng-controller="positionCtrl">
    <form id="{{flow.getElementFlowId('position_edit_form')}}" class="form-horizontal" role="form" ng-submit="save()"
          novalidate>

        <input id="{{flow.getElementFlowId('position_submit')}}" type="submit"
               style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>


        <flow-field model="task.positionEdit.description" label="Position" type="text" required="true"></flow-field>

        <flow-modal id="{{flow.getElementFlowId('positionDeleteModal')}}">

            <div class="panel panel-warning">

                <div class="panel-heading">Warning</div>
                <div class="panel-body"><p>Do you want to delete {{task.positionEdit.description}}?</p></div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <button button info="button" class="field-margin" ng-click="deleteConfirm()">Yes</button>
                        <button button danger="button" class="field-margin" ng-click="deleteCancel()">No</button>
                    </div>
                </div>
            </div>

        </flow-modal>
    </form>
</div>