<div class="container-fluid" ng-controller="schoolYearCreateCtrl">
    <form id="{{flow.getElementFlowId('school_year_create_form')}}" class="form-horizontal" role="form"
          ng-submit="save()"
          novalidate>

        <input id="{{flow.getElementFlowId('school_year_submit')}}" type="submit"
               style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>


        <flow-field label="Description" required="true" model="task.modelCreate.description"></flow-field>

        <fieldset>
            <legend>From</legend>
            <label column="6">
                <span>Month</span>
                <ui-select ng-model="task.modelCreate.periodMonth">
                    <ui-select-match placeholder="{{task.schoolYear.monthLoaded ? '':'Loading months...'}}">
                        {{$select.selected.label}}
                    </ui-select-match>
                    <ui-select-choices refresh="task.schoolYear.getMonths()"
                                       repeat="month in task.schoolYear.months | filter : {label:$select.search}">
                        {{month.label}}
                    </ui-select-choices>
                </ui-select>
            </label>
            <label column="6">
                <span>Year</span>
                <ui-select ng-required="true" ng-model="task.modelCreate.periodYear">
                    <ui-select-match placeholder="{{task.schoolYear.yearLoaded ? '':'Loading years...'}}">
                        {{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices refresh="task.schoolYear.getYears()"
                                       repeat="year in task.schoolYear.years | filter : select.search">
                        {{year}}
                    </ui-select-choices>
                </ui-select>
            </label>
        </fieldset>

        <fieldset>
            <legend>To</legend>
            <label column="6">
                <span>Month</span>
                <ui-select ng-model="task.modelCreate.periodMonthTo">
                    <ui-select-match placeholder="{{task.schoolYear.monthLoaded ? '':'Loading months...'}}">
                        {{$select.selected.label}}
                    </ui-select-match>
                    <ui-select-choices refresh="task.schoolYear.getMonths()"
                                       repeat="month in task.schoolYear.months | filter : {label:$select.search}">
                        {{month.label}}
                    </ui-select-choices>
                </ui-select>
            </label>
            <label column="6">
                <span>Year</span>
                <ui-select ng-required="true" ng-model="task.modelCreate.periodYearTo">
                    <ui-select-match placeholder="{{task.schoolYear.yearLoaded ? '':'Loading years...'}}">
                        {{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices refresh="task.schoolYear.getYears()"
                                       repeat="year in task.schoolYear.years | filter : select.search">
                        {{year}}
                    </ui-select-choices>
                </ui-select>
            </label>
        </fieldset>
    </form>


</div>