<div class="container-fluid" ng-controller="schoolYearEditCtrl">
    <form id="{{flow.getElementFlowId('school_year_edit_form')}}" class="form-horizontal" role="form" ng-submit="save()"
          novalidate>

        <input id="{{flow.getElementFlowId('school_year_submit')}}" type="submit"
               style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>


        <flow-field label="Description" required="true" model="task.modelEdit.description"></flow-field>
        <flow-field label="Created by" disabled="true" model="task.edit.createUserFullName"></flow-field>
        <fieldset>
            <legend>From</legend>
            <fluid-select class="col-lg-6" primary with-host="sourceUrl"
                          id="{{flow.getElementFlowId('monthSelect')}}"
                          model="task.modelEdit.periodMonth"
                          label="Month"
                          source-url="factories/war/table_factories/months">
            </fluid-select>
            <fluid-select class="col-lg-6" ng-required="true" primary
                          with-host="sourceUrl"
                          id="{{flow.getElementFlowId('yearSelect')}}"
                          model="task.modelEdit.periodYear"
                          label="Year"
                          source-url="factories/war/table_factories/years">
            </fluid-select>
        </fieldset>

        <fieldset>
            <legend>To</legend>
            <fluid-select primary class="col-lg-6" with-host="sourceUrl"
                          id="{{flow.getElementFlowId('monthSelect2')}}"
                          model="task.modelEdit.periodMonthTo"
                          label="Month"
                          source-url="factories/war/table_factories/months">
            </fluid-select>
            <fluid-select class="col-lg-6" primary with-host="sourceUrl"
                          ng-required="true"
                          id="{{flow.getElementFlowId('yearSelect2')}}"
                          model="task.modelEdit.periodYearTo"
                          label="Year"
                          source-url="factories/war/table_factories/years">
            </fluid-select>
        </fieldset>


    </form>


    <flow-modal id="{{flow.getElementFlowId('schoolYearDeleteModal')}}">

        <div class="panel panel-warning">

            <div class="panel-heading">Warning</div>
            <div class="panel-body"><p>Do you want to delete {{task.modelEdit.description}}?</p></div>
            <div class="panel-footer">
                <div class="btn-group">
                    <button button info="button" class="field-margin" ng-click="task.deleteConfirm()">Yes</button>
                    <button button danger="button" class="field-margin" ng-click="task.deleteCancel()">No</button>
                </div>
            </div>
        </div>

    </flow-modal>


</div>