.customer-calendar {
    height: 500px;

}

.event-div {
    overflow: auto;
    border: 1px;
}

.event-customer {
    border-radius: 0;
    margin-bottom: 1px;
    text-align: center;
    cursor: pointer;
    font: inherit;
}

.event-customer-draggable {
    background: #639F89;
    color: white;
    border-radius: 0;
    margin-bottom: 1px;
    text-align: center;
    cursor: pointer;
    font: inherit;
}

.event-draggable {
    opacity: 0.9;
    background: #639F89;
    color: white;
    border-radius: 0;
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 25px;
    font: inherit;
}

.planned {
    background: #639F89;
}

.unplanned {
    background: rgb(255, 153, 102);
}

.footer-group {
    margin-left: 5px;
}

.disabled-day {
    background: rgba(181, 178, 190, 0.8);
    color: rgba(181, 178, 190, 0.8);
}

.enabled-day {
    background: rgba(253, 245, 230, 0.3);
    color: rgba(37, 37, 38, 0.8);
}

.draggable {
    color: cornflowerblue;
    border: 1px #00498f;
    border-radius: 0;
}

.non-draggable {
    color: #777777;
}

.hide-event {
    display: none;
}

.office-activity {
}

.other-activities {
    width: 22pc;
    margin-top: 5px;
    height: 30px;
    margin-left: 10px;
}

.other-activities button {
    margin-left: 5px;
}

.notes-area {
    height: 70px;
    width: 268px;
}

.viewer-frame {
    padding: 0;
}

.viewer-body {
    padding: 0;
}

.customer-tab-table-container {
    max-height: 597px;
    overflow-y: auto;

}

.customer-tag-table {
    /*   max-height: 430px; Just for the demo          */
    /*    overflow-y: auto Trigger vertical scroll    */
    /* overflow-x: hidden;  Hide the horizontal scroll */
}

.fc-content {
    text-align: center;
    padding: 15px 0;
}