<div class="panel panel-primary">

    <div class="panel-heading">
        <span class="heading-title">{{hangingActivity.activity.startDt | date: 'MMMM dd, yyyy'}}</span>
    </div>
    <div class="panel-body form-horizontal">
        <flow-message id="{{flow.getElementFlowId('activity_messages')}}"></flow-message>
        <div ng-show="hangingActivity.activity.type == 'SCHOOL'">
            <flow-field model="hangingActivity.activity.description" disabled="true"
                        label="Description"></flow-field>

            <div ng-if="calendar.isUpdateVisible(hangingActivity.activity.startDt)" class="form-group"
                 style="margin:auto">
                <div column="6">
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                            <flow-check required="false" disabled="false"
                                        label="Worked with the manager"
                                        model="hangingActivity.activity.workedWith"></flow-check>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                            <flow-check disabled="false" required="false" label="Exam Copies Distribution"
                                        model="hangingActivity.activity.ecd"></flow-check>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                            <flow-check disabled="false" required="false" label="Invitation to Events"
                                        model="hangingActivity.activity.ite"></flow-check>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                            <flow-check disabled="false" required="false" label="Confirmation of Events"
                                        model="hangingActivity.activity.coe"></flow-check>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                            <flow-check disabled="false" required="false" label="Follow up payment"
                                        model="hangingActivity.activity.fp"></flow-check>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                            <flow-check disabled="false" required="false"
                                        label="Giveaways / Raffle Items Distribution"
                                        model="hangingActivity.activity.gd"></flow-check>
                        </div>
                    </div>

                </div>
                <div column="6">
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                            <flow-check disabled="false" required="false" label="Delivery of Incentive/Donation"
                                        model="hangingActivity.activity.doi"></flow-check>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                            <flow-check disabled="false" required="false" label="Follow-Up / Get PO"
                                        model="hangingActivity.activity.po"></flow-check>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                            <flow-check disabled="false" required="false"
                                        label="Delivery of Add'l Order / TRM / Compli..."
                                        model="hangingActivity.activity.daotrc"></flow-check>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                            <flow-check disabled="false" required="false" label="Booklist"
                                        model="hangingActivity.activity.bookList"></flow-check>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                            <flow-check disabled="false" required="false" label="Updated Customer Info Sheet"
                                        model="hangingActivity.activity.ucis"></flow-check>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                            <flow-check disabled="false" required="false" label="Implemented Ex-Sem"
                                        model="hangingActivity.activity.ies"></flow-check>
                        </div>
                    </div>
                </div>
                <div column="12">
                    <fieldset>
                        <legend>Marketing</legend>
                        <div column="6">
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                                    <flow-check disabled="false" required="false" label="Bootcamp"
                                                model="hangingActivity.activity.bootcamp"></flow-check>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                                    <flow-check disabled="false" required="false" label="AECON"
                                                model="hangingActivity.activity.aecon"></flow-check>
                                </div>
                            </div>
                        </div>
                        <div column="6">
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                                    <flow-check disabled="false" required="false" label="CEAP"
                                                model="hangingActivity.activity.ceap"></flow-check>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                                    <flow-check disabled="false" required="false" label="Collection and PR"
                                                model="hangingActivity.activity.collectionAndPR"></flow-check>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <flow-text-area ng-if="calendar.isUpdateVisible(hangingActivity.activity.startDt)"
                            label="CUSTOMER SPECIFIC ACTIVITY"
                            model="hangingActivity.activity.customerSpecificActivity"></flow-text-area>
            <flow-text-area label="REASON FOR NON-COVERAGE / ACTUAL DATE COVERED"
                            model="hangingActivity.activity.reasonForNonCoverage"></flow-text-area>
        </div>
        <div ng-show="hangingActivity.activity.type == 'LEAVE'">
            <flow-text-area label="Reason for leave"
                            model="hangingActivity.activity.description"></flow-text-area>
        </div>
        <div ng-show="hangingActivity.activity.type == 'SEMINAR' || hangingActivity.activity.type == 'OFFICE'">
            <flow-text-area label="Description"
                            model="hangingActivity.activity.description"></flow-text-area>
        </div>

    </div>
    <div class="panel-footer">
        <button class="btn btn-sm btn-info" type="button" ng-click="hangingActivity.update()">Update</button>
        <button class="btn btn-sm btn-danger" type="button" ng-click="hangingActivity.cancel()">Cancel</button>
    </div>

</div>