<div class="container-fluid" ng-controller="regionManagerCtrl">

    <form class="form-horizontal" novalidate id="{{flow.getElementFlowId('regionForm')}}">
        <fieldset>
            <legend>{{task.rsm.region.regionName}}</legend>
            <div column="4">

                <div class="avatar-div">
                    <div class="floatLeft width120px">
                        <img class="thumbnail" height="90" width="85"
                             ng-src="{{imageService.getAvatar(task.rsm.manager.avatar)}}" class="img-circle"/>
                    </div>

                    <div class="floatLeft width300px">
                        <div>
                            Manager: {{task.rsm.manager.fullName}}
                        </div>
                        <div>
                            Initials: {{task.rsm.manager.initials}}
                        </div>
                        <div>
                            Active: {{task.rsm.manager.active ? 'Yes' : 'No'}}
                        </div>

                    </div>
                </div>

            </div>

            <div column="8">
                <table class="table table-condensed table-responsive table-striped">
                    <thead>
                    <th colspan="5">
                        <div class="input-icon right"><i class="fa fa-search"></i><input placeholder="Search agent"
                                                                                         class="form-control"
                                                                                         type="text" ng-model="search"/>
                        </div>
                    </th>
                    </thead>
                    <tr ng-repeat="agent in task.rsm.agents | filter : search" ng-init="agent.viewTop = false">
                        <td colspan="5">
                            <table class="table table-hover table-responsive table-bordered table-condensed">
                                <thead>

                                <th colspan="2">
                                    <div class="pull-left width70px">
                                        <img style="margin-left:auto;margin-right:auto;"
                                             height="50"
                                             width="60"
                                             ng-src="{{imageService.getAvatar(agent.avatar)}}"
                                                />
                                    </div>
                                    <div class="pull-left width120px text-left">{{agent.fullName}}
                                        <div class="btn-group btn-group-xs">
                                            <button style="margin-left:auto;margin-right:auto;"
                                                    button
                                                    info="button"
                                                    ng-click="openTagEditor(agent)" flow-tooltip
                                                    tooltip-title="Edit Top Schools">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button style="margin-left:auto;margin-right:auto;"
                                                    button
                                                    warning="button"
                                                    ng-click="viewTopSchools(agent)" flow-tooltip
                                                    tooltip-title="Click to view">
                                                <i ng-if="!agent.viewTop" class="fa fa-search"></i>
                                                <i ng-if="agent.viewTop" class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <i ng-if="agent.loading"
                                           class="fa fa-spin fa-spinner"></i>
                                    </div>
                                    <div class="pull-left width120px text-left">
                                        <div>
                                            Initials: {{agent.initials}}
                                        </div>

                                        <div>
                                            Active:
                                            {{agent.active ?
                                            'Yes' : 'No'}}
                                        </div>
                                    </div>
                                    <div class="pull-left width120px">


                                    </div>
                                    <div class="pull-left width120px">

                                    </div>
                                </th>
                                </thead>
                                <tbody ng-if="agent.viewTop">
                                <tr>
                                    <td class="bg-info">Top</td>
                                    <td class="bg-info">School</td>
                                </tr>
                                <tr ng-repeat="school in agent.topCustomers">
                                    <td>{{school.index}}</td>
                                    <td>{{school.customerName}}</td>
                                </tr>
                                </tbody>

                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </form>
    <flow-modal id="{{flow.getElementFlowId('tagEditorModal')}}">

        <div class="panel panel-primary">

            <div class="panel-heading">Top School Editor - {{task.tagEditorAgent.fullName}}</div>

            <div class="panel-body">
                <div column="5">
                    <div class="panel panel-info">

                        <div class="panel-heading">Assigned Customers</div>
                        <div class="panel-body">
                            <table class="table table-responsive table-hover table-condensed table-striped">
                                <thead>
                                <td colspan="3"></td>
                                </thead>
                                <tbody class="customerFixedHeight">
                                <tr ng-repeat="assCustomer in task.tagEditorAgent.customers"
                                    class="draggable-row-customer" ng-model="assCustomer">
                                    <td>{{assCustomer.school.name}}</td>
                                    <td>{{assCustomer.marketDetail}}</td>
                                    <td>
                                        <div class="btn-group btn-group-md">

                                            <button ng-if="checkIfAdded(assCustomer)"
                                                    ng-click="addToTop(assCustomer)" button default="button"><i
                                                    class="text-success fa fa-arrow-right"></i>
                                            </button>

                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div column="7">
                    <div class="panel panel-success">

                        <div class="panel-heading">Top Customers</div>
                        <div class="panel-body">
                            <table class="table table-responsive table-hover table-condensed table-striped">
                                <thead>
                                <td></td>
                                <th>Top</th>
                                <th>School</th>
                                <th>Market Detail</th>
                                </thead>
                                <tbody class="customerFixedHeight">
                                <tr ng-repeat="topCustomer in task.tagEditorAgent.topCustomers"
                                    class="draggable-row-customer">
                                    <td>
                                        <div class="btn-group btn-group-sm">
                                            <button button danger="button" title="Remove"><i
                                                    class="fa fa-remove"
                                                    ng-click="removeTopSchool($index,task.tagEditorAgent)"></i>
                                            </button>
                                            <button ng-if="$index > 0" button default="button"
                                                    title="Move up" ng-click="swap($index,($index-1))"><i
                                                    class="text-success fa fa-arrow-up"></i>
                                            </button>
                                            <button ng-if="$index < task.tagEditorAgent.topCustomers.length-1" button
                                                    default="button" title="Move down"
                                                    ng-click="swap($index,($index+1))"><i
                                                    class="text-success  fa fa-arrow-down"></i>
                                            </button>
                                        </div>
                                    </td>
                                    <td>{{topCustomer.index}}</td>
                                    <td>{{topCustomer.customerName}}</td>
                                    <td>{{topCustomer.marketDescription}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-group btn-group-md">
                    <button button info="button" ng-click="saveTopSchool(task.tagEditorAgent)">Save</button>
                    <button button danger="button" ng-click="closeTagEditor()">Cancel</button>
                </div>
            </div>
        </div>

    </flow-modal>
</div>