.weekly-table-body {
  overflow-x: auto;
}

.weekly-table-body td {
  font-size: 13px;
  font-family: inherit;
  font-style: inherit;
}

.weekday-header {
  width: 30pc;
}

.header-center {
  margin: auto;
}

.weekday {
  background: $planner-enabled-day;
  color: $planner-enabled-day;
}

.planned_activity td {
  background: $planner-planned;
  /*color: #f5f5f5;*/
}

.unplanned_activity td {
  background: $planner-unplanned;
  /*color: #f5f5f5;*/
}

.planned_activity td a {
  /*  color: #f5f5f5;*/
}

.unplanned_activity td a {
  background: $planner-unplanned;
  /* color: #f5f5f5;*/
}

.report-td {
  border: 1px solid #efefef;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.daily-row {
  display: block;
}

.daily-view {
  width: 95pc;
  overflow: auto;
}

.months-header {
  background-color: antiquewhite;
  border-color: antiquewhite;
}

.activity-header {
  background-color: #e9e9e9;
  border-color: #e9e9e9;
}

.report-table {
  font-size: 15px;
}

.toggle-columns li {
  border: 1px wheat solid;
}

.agent-daily {
  &.planned_activity {
    color: whitesmoke;
  }
  &.unplanned_activity {
    color: whitesmoke;
  }
}

.report-monthly-body {
  overflow-x: auto;
  font-size: 15px;
}

.report-monthly-row {
  font-size: 12px;
  font-family: sans-serif;
  text-align: center;
}

.report-monthly-header {
  color: white;
  font-size: 9px;
  text-align: center;
}

.toggle-column-grid {
  border: 1px whitesmoke solid;
  height: 55px;
  text-align: center;
  vertical-align: middle;
  padding: 15px 0;
  padding-left: 5px;
  cursor: pointer;
}

.toggle-column-grid-check {
  margin-top: -5px
}

.toggle-column-grid:active {
  background: $planner-planned;
}

.toggle-column-grid:hover {
  background: darkcyan;
}