<div class="container-fluid" ng-controller="customerCtrl">
    <form name="{{flow.getElementFlowId('customer_edit_form')}}" id="{{flow.getElementFlowId('customer_edit_form')}}"
          class="form-horizontal" role="form" ng-submit="save()" novalidate>

        <input id="{{flow.getElementFlowId('customer_submit')}}" type="submit"
               style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>

        <div class="form-group">
            <div class="col-lg-6">

                <flow-field model="task.customerCreate.customerCode" label="Customer code" required="true"
                            type="text"></flow-field>

                <label class="width100pc">
                    <span>Material's adviser <span class="required">*</span></span>
                    <ui-select ng-required="true" ng-model="task.customer.agent"
                               ng-change="task.customer.onAgentChange(task.customer.agent)">
                        <ui-select-match placeholder="{{task.customer.agentsLoaded ? '':'Loading agents...'}}">
                            {{$select.selected.user.flowUserDetail.fullName}}
                        </ui-select-match>
                        <ui-select-choices refresh="task.customer.getAgents()"
                                           repeat="agent in task.customer.agents | filter:{user:{flowUserDetail:{fullName:$select.search}}}">
                            {{agent.user.flowUserDetail.fullName}}
                        </ui-select-choices>
                    </ui-select>
                </label>

                <flow-field disabled="true" model="task.customerCreate.regionCode"
                            label="Region"></flow-field>

                <flow-look-up class="width100pc"
                              task="task"
                              id="{{flow.getElementFlowId('schoolLookUp')}}"
                              parent-id="{{flow.getElementFlowId('customer_edit_form')}}"
                              model="task.customerCreate.school"
                              label="School"
                              source-url="services/war/school_query/list" title="School" field-label="name"
                              key-var="school">
                    <flow-sub-column title="Name" model="school.name"></flow-sub-column>
                    <flow-sub-column title="Address" model="school.addressLine1"></flow-sub-column>
                </flow-look-up>

            </div>
            <div class="col-lg-6">
                <flow-field model="task.customerCreate.school.email" type="email" label="Email"
                            required="true"></flow-field>
                <flow-field model="task.customerCreate.school.landline" label="Landline" required="true"></flow-field>
                <flow-field model="task.customerCreate.school.addressLine1" label="Address line 1"
                            required="true"></flow-field>
                <flow-field model="task.customerCreate.school.addressLine2" label="Address line 2"></flow-field>

            </div>
        </div>
        <div column="12">
            <flow-sub-table flow="flow" task="task" key-var="customer" title="Market segment"
                            target-list="task.customerCreate.warCustomerMarketSchoolYears"
                            id="{{flow.getElementFlowId('potentialTable')}}" id-field="id"
                            create="task.customer.addPotential()" edit-event="editPotential" look-up="false">
                <flow-sub-column title="School Year"
                                 model="customer.schoolYearDescription"></flow-sub-column>
                <flow-sub-column title="Market Potential Segment"
                                 model="customer.marketPotentialSegment"></flow-sub-column>
                <flow-sub-column title="Market Potential" model="customer.marketPotential"></flow-sub-column>
            </flow-sub-table>
        </div>

        <div column="12">
            <flow-sub-table flow="flow" task="task" key-var="contact" title="Contact Information"
                            target-list="task.customerCreate.contactDetails"
                            id="{{flow.getElementFlowId('contactDetailsSubTable')}}" id-field="id"
                            create="task.customer.addContact()" edit-event="editContactEvent" look-up="false">
                <flow-sub-column title="Education level" model="contact.level"></flow-sub-column>
                <flow-sub-column title="Contact person" model="contact.description"></flow-sub-column>
                <flow-sub-column title="Home phone" model="contact.homePhone"></flow-sub-column>
                <flow-sub-column title="Work phone" model="contact.workPhone"></flow-sub-column>
                <flow-sub-column title="Email" model="contact.email"></flow-sub-column>
                <flow-sub-column title="Position" model="contact.positionDesc"></flow-sub-column>
                <flow-sub-column title="Decision maker or influencer"
                                 model="contact.decisionMaker | decision"></flow-sub-column>
                <flow-sub-column title="Relationship type" model="contact.relationshipType"></flow-sub-column>
            </flow-sub-table>
            <flow-sub-table flow="flow" task="task" key-var="level"
                            title="Education Levels offered, population and tuition fee details."
                            target-list="task.customerCreate.customerLevels"
                            id="{{flow.getElementFlowId('customerLevelsSubTable')}}" id-field="id"
                            create="task.customer.addLevel()" edit-event="editLevelEvent" look-up="false">
                <flow-sub-column title="Education Level" model="level.educationLevel"></flow-sub-column>
                <flow-sub-column title="Level course" model="level.levelCourse"></flow-sub-column>
                <flow-sub-column title="Population per YEAR LEVEL" model="level.population"></flow-sub-column>
                <flow-sub-column title="Tuition fee range from" model="level.tuitionFeeFrom"></flow-sub-column>
                <flow-sub-column title="Tuition fee range to" model="level.tuitionFeeTo"></flow-sub-column>
            </flow-sub-table>
        </div>
        <div>
            <flow-text-area label="Other enrollment information" model="task.customerCreate.informationOnEnrollment">
            </flow-text-area>
            <div class="col-lg-6">

                <fieldset>

                    <legend>Other Pertinent Information</legend>

                    <flow-field model="task.customerCreate.diocese" label="Diocese"></flow-field>

                    <flow-field model="task.customerCreate.congregation" label="Congregation"></flow-field>

                    <flow-field model="task.customerCreate.association" label="Association"></flow-field>

                </fieldset>

            </div>
            <div class="col-lg-6">
                <fieldset>
                    <legend>Buying Cycle</legend>
                    <div class="width100pc">
                        <div class="form-group">
                            <war-select-months column="5" ng-model="task.customerCreate.evaluation"
                                               label="Evaluation"></war-select-months>
                            <div column="1">
                                <flow-check disabled="false" required="false" model="task.isCreateEvaluationTo"
                                            label=""></flow-check>
                            </div>
                            <war-select-months ng-if="task.isCreateEvaluationTo" column="6"
                                               ng-model="task.customerCreate.evaluationTo"
                                               label="To"></war-select-months>
                        </div>
                        <div class="form-group">
                            <war-select-months column="5" ng-model="task.customerCreate.ordering"
                                               label="Ordering"></war-select-months>

                            <div column="1">
                                <flow-check disabled="false" required="false" model="task.isCreateOrderingTo"
                                            label=""></flow-check>
                            </div>

                            <war-select-months ng-if="task.isCreateOrderingTo" column="6"
                                               ng-model="task.customerCreate.orderingTo"
                                               label="To"></war-select-months>
                        </div>
                        <div class="form-group">
                            <war-select-months column="5" ng-model="task.customerCreate.delivery"
                                               label="Delivery"></war-select-months>
                            <div column="1">
                                <flow-check disabled="false" required="false" model="task.isCreateDeliveryTo"
                                            label=""></flow-check>
                            </div>
                            <war-select-months ng-if="task.isCreateDeliveryTo" column="6"
                                               ng-model="task.customerCreate.deliveryTo"
                                               label="To"></war-select-months>
                        </div>
                        <div class="form-group">
                            <war-select-months column="5" ng-model="task.customerCreate.collection"
                                               label="Collection"></war-select-months>
                            <div column="1">
                                <flow-check disabled="false" required="false" model="task.isCreateCollectionTo"
                                            label=""></flow-check>
                            </div>

                            <war-select-months ng-if="task.isCreateCollectionTo" column="6"
                                               ng-model="task.customerCreate.collectionTo"
                                               label="To"></war-select-months>

                        </div>

                    </div>
                </fieldset>
            </div>
        </div>
        <div>
            <div class="col-lg-6">
                <flow-radio group="{{flow.getElementFlowId('process_group')}}" label="Buying process"
                            model="task.customerCreate.buyingProcess" options="processOptions"></flow-radio>
                <flow-radio group="{{flow.getElementFlowId('nature_of_purchase_group')}}" label="Nature of purchase"
                            model="task.customerCreate.natureOfPurchase" options="natureOfPurchaseOptions"></flow-radio>
                <flow-radio group="{{flow.getElementFlowId('ownership_group')}}" label="Ownership"
                            model="task.customerCreate.ownership" options="ownershipOptions"></flow-radio>
            </div>
            <div class="col-lg-6">
                <div class="form-group flow-form">
                    <flow-check disabled="false" required="false" model="task.customerCreate.usingJournals"
                                label="Using journals"></flow-check>
                </div>
                <flow-field ng-if="task.customerCreate.usingJournals"
                            model="task.customerCreate.journalPublisher"
                            label="Publisher of journals used"></flow-field>
                <div class="form-group flow-form">
                    <flow-check disabled="false" required="false" model="task.customerCreate.usingSRA"
                                label="Using SRA"></flow-check>
                </div>
            </div>
        </div>
        <div class="col-lg-12">

            <fieldset>
                <legend>Additional Information Gathered</legend>

                <flow-sub-table flow="flow" task="task" key-var="publisher" title="Other publishers present"
                                target-list="task.customerCreate.publisher"
                                id="{{flow.getElementFlowId('customerPublisherSubTable')}}" id-field="id"
                                create="task.customer.addPublisher()" edit-event="editPublisherEvent" look-up="false">
                    <flow-sub-column title="Publisher" model="publisher.description"></flow-sub-column>
                </flow-sub-table>

            </fieldset>

        </div>

        <div class="col-lg-12">

            <fieldset>
                <legend>Business Terms</legend>
                <flow-field model="task.customerCreate.standardOutrightDiscount" type="number"
                            label="Standard/Outright Discount"></flow-field>
                <flow-field model="task.customerCreate.additionalDiscount" type="number"
                            label="Additional Discount"></flow-field>
                <flow-field model="task.customerCreate.incentives" type="number" label="Incentives"></flow-field>

            </fieldset>

        </div>

        <div class="col-lg-12">

            <flow-sub-table flow="flow" task="task" key-var="support" title="Other Support Given"
                            target-list="task.customerCreate.supportGivens"
                            id="{{flow.getElementFlowId('customerSupportSubTable')}}" id-field="id"
                            create="task.customer.addSupport()" edit-event="editSupportEvent" look-up="false">
                <flow-sub-column title="Description" model="support.description"></flow-sub-column>
                <flow-sub-column title="Amount" model="support.amount"></flow-sub-column>
            </flow-sub-table>
        </div>

    </form>
    <flow-modal id="{{flow.getElementFlowId('supportModal')}}">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <span class="heading-title">Add support</span>
            </div>
            <div class="panel-body">
                <div class="container-fluid form-horizontal">
                    <flow-field label="Description"
                                model="task.customerCreate.supportGivens[task.supportIndex].description"></flow-field>
                    <flow-field label="Amount" type="number"
                                model="task.customerCreate.supportGivens[task.supportIndex].amount"></flow-field>
                </div>

            </div>
            <div class="panel-footer">
                <button class="btn btn-info" ng-click="saveSupportModal()">{{task.supportManaged ? 'Update' : 'Save'}}
                </button>
                <button class="btn btn-danger" ng-click="closeSupportModal()">Cancel</button>
            </div>

        </div>
    </flow-modal>

    <flow-modal id="{{flow.getElementFlowId('publisherModal')}}">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="heading-title">Add publisher</span>
            </div>
            <div class="panel-body">
                <div class="container-fluid form-horizontal">
                    <flow-field label="Publisher"
                                model="task.customerCreate.publisher[task.publisherIndex].description"></flow-field>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-info" ng-click="savePublisherModal()">{{task.publisherManaged ? 'Update' :
                    'Save'}}
                </button>
                <button class="btn btn-danger" ng-click="closePublisherModal()">Cancel</button>
            </div>
        </div>
    </flow-modal>
    <flow-modal id="{{flow.getElementFlowId('levelModal')}}">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="heading-title">Add education level</span>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">

                    <war-level-select class="width100pc" ng-required="true" label="Education level course"
                                      ng-model="task.customerCreate.customerLevels[task.levelIndex].level">
                    </war-level-select>

                    </fluid-select>
                    <flow-field model="task.customerCreate.customerLevels[task.levelIndex].population"
                                label="Population" required="true"></flow-field>

                    <flow-field model="task.customerCreate.customerLevels[task.levelIndex].tuitionFeeFrom"
                                label="Tuition fee range from" type="number" required="true"></flow-field>

                    <flow-field model="task.customerCreate.customerLevels[task.levelIndex].tuitionFeeTo" label="To"
                                type="number"></flow-field>

                </div>
            </div>

            <div class="panel-footer">
                <button class="btn btn-info" ng-click="saveLevelModal()">{{task.levelManaged ? 'Update' : 'Save'}}
                </button>
                <button class="btn btn-danger" ng-click="closeLevelModal()">Cancel</button>
            </div>
        </div>
    </flow-modal>
    <flow-modal id="{{flow.getElementFlowId('potentialModal')}}">

        <div class="panel panel-primary">

            <div class="panel-heading"><span class="heading-title">Add market potential</span></div>

            <div class="panel-body">

                <div class="form-horizontal">
                    <flow-message id="{{flow.getElementFlowId('potentialInfoMessage')}}"></flow-message>

                    <war-schoolyear-select class="width100pc" label="School Year"
                                           ng-model="task.customerCreate.warCustomerMarketSchoolYears[task.potentialIndex].schoolYear"
                                           ng-disabled="task.potentialManaged"
                                           schoolyear-model="task.customer.schoolYear"
                                           ng-change="task.customer.onChangeSchoolYear(task.customer.schoolYear)">
                    </war-schoolyear-select>

                    <flow-field label="Market Potential" type="number"
                                model="task.customerCreate.warCustomerMarketSchoolYears[task.potentialIndex].marketPotential"></flow-field>

                </div>
            </div>

            <div class="panel-footer">
                <div class="btn-group btn-group-md">
                    <button class="btn btn-info" ng-click="savePotential()" type="button">
                        {{task.create.customerManaged ? 'Update' : 'Save'}}
                    </button>
                    <button class="btn btn-danger" ng-click="cancelPotential()" type="button">Cancel</button>
                </div>
            </div>
        </div>

    </flow-modal>
    <flow-modal id="{{flow.getElementFlowId('contactsModal')}}">

        <div class="panel panel-primary">
            <div class="panel-heading"><span class="heading-title">Add contacts</span></div>

            <div class="panel-body">
                <div class="form-horizontal">

                    <div class="col-lg-6">

                        <war-educationlevel-select
                                ng-model="task.customerCreate.contactDetails[task.contactIndex].level"
                                ng-required="true" class="width100pc" label="Education Level">
                        </war-educationlevel-select>

                        <flow-field model="task.customerCreate.contactDetails[task.contactIndex].description"
                                    label="Contact person" required="true"></flow-field>

                        <war-position-select class="width100pc" label="Position"
                                             ng-model="task.customerCreate.contactDetails[task.contactIndex].position"
                                             ng-required="true"></war-position-select>
                    </div>

                    <div class="col-lg-6">

                        <flow-date-picker model="task.customerCreate.contactDetails[task.contactIndex].birthdate"
                                          label="Birth date"></flow-date-picker>

                        <war-relationshiptype-select class="width100pc" label="Relationship type"
                                                     ng-required="true"
                                                     ng-model="task.customerCreate.contactDetails[task.contactIndex].relationshipType"></war-relationshiptype-select>
                        <div class="form-group">
                            <flow-check disabled="false" required="false"
                                        model="task.customerCreate.contactDetails[task.contactIndex].decisionMaker"
                                        label="Decision maker or influencer"></flow-check>
                        </div>
                    </div>

                    <div column="12">
                        <fieldset>
                            <legend>Contact Details</legend>
                            <div column="6">
                                <flow-field model="task.customerCreate.contactDetails[task.contactIndex].homePhone"
                                            label="Home"></flow-field>

                                <flow-field model="task.customerCreate.contactDetails[task.contactIndex].workPhone"
                                            label="Work"></flow-field>

                                <flow-field model="task.customerCreate.contactDetails[task.contactIndex].mobile"
                                            label="Mobile"></flow-field>
                            </div>
                            <div column="6">
                                <flow-field model="task.customerCreate.contactDetails[task.contactIndex].email"
                                            type="email" label="Email"></flow-field>

                                <flow-field model="task.customerCreate.contactDetails[task.contactIndex].yahoo"
                                            label="Yahoo"></flow-field>

                                <flow-field model="task.customerCreate.contactDetails[task.contactIndex].skype"
                                            label="Skype"></flow-field>
                            </div>
                        </fieldset>
                    </div>

                </div>
            </div>

            <div class="panel-footer">
                <button class="btn btn-info" ng-click="saveContactModal()">{{task.contactManaged ? 'Update' : 'Save'}}
                </button>
                <button class="btn btn-danger" ng-click="closeContactModal()">Cancel</button>
            </div>

        </div>
    </flow-modal>
</div>