<div class="container-fluid" ng-controller="editProfileCtrl">
    <form class="form-horizontal" novalidate role="form" ng-submit="update()" method="post">

        <flow-image file-changed="fileChanged()" task="task" label="Avatar" model="task.flowUserDetail.avatar"
                    source-url="services/download_service/getContent/"
                    url="services/upload_service/upload_file?folder=group.user&type=avatar" method="post"></flow-image>

        <flow-field label="Full name" model="task.flowUserDetail.fullName"></flow-field>

        <flow-field label="Question" model="task.flowUserDetail.secretQuestion"></flow-field>

        <flow-field label="Answer" model="task.flowUserDetail.secretAnswer" type="password"></flow-field>

        <div column="12">
            <div class="form-group">
                <button button info="button" ng-click="updatePassword=!updatePassword">
                    {{!updatePassword? 'Change password':'Cancel'}}
                </button>
            </div>

            <div ng-if="updatePassword" class="form-group">
                <flow-field type="password" label="Current password" model="password.current"></flow-field>
                <flow-field type="password" label="New password" model="password.new"></flow-field>
                <flow-field type="password" label="Confirm password" model="password.confirm"></flow-field>
                <i ng-class="password.new == password.confirm ?' fa fa-check text-success':'fa fa-remove text-danger'"></i>
            </div>
        </div>

        <button type="submit" class="btn btn-info"><span class="fa fa-save"></span>&nbsp;&nbsp;Update</button>
    </form>
</div>