/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 09 20, 14, 11:44:35 AM
    Author     : Jerico
*/

body {
    /*background-color: #95a5a6;*/
    font-family: "Tahoma";
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    font-size: 16px;
    /* background-color: #ecf0f1;*/
    /* background: url(../img/fancy_deboss.png);*/
    /* -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;*/
}

.bg {
    background: url(../../images/bg/1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.splash {
    margin: 0 auto;
    padding: 40px 0;
}

.splash .form {
    margin-top: 50px;
}

.form .group {
    background: rgba(205, 50, 10, 0.2);
    text-align: center;
}

.form .loader {
    padding: 15px 0;
}

.splash .splash-progress {
    margin-top: 10px;
}

.splash-progress i {
    margin: 5px;
    font-size: 25px;
}

.splash .loaded {
    color: white;
    box-shadow: whitesmoke;
}

textarea {
    resize: none !important;
    min-height: 100px !important;
}

.brand {
    padding: 0px 0px 0px 0px;
    border-radius: 100px;
}

.emblem {
    padding: 0px 0px 0px 0px;
    border-radius: 100px;
    margin-top: -12px;
    margin-left: -12px;
}

.menu_selection {
    overflow: auto;
    min-height: 300px;
    /*max-height: 300px;*/
    /*background : #245269;*/
}

.tile_margin {
    margin: 2px;
}

.menu-item-list {
    height: 20px;
}

.field-margin {
    margin: 0px 2px 0px 0px;
}

.prompt-dialog {
    height: 200px;
    width: 200px;
}

/*.menu-title {
    font-size: 20px;
    margin-left: -25px;
}*/

.menu-module {
    margin-left: 20px;
}

.marginLeft5px {
    margin-left: 5px;
}

.fontSize14px {
    font-size: 14px;
}

.paddingBottom10px {
    padding-bottom: 10px;
}

.avatar {
    height: 133px;
    width: 135px;
    margin: 0 auto;
    border-radius: 70px;
}

.frame-content input {
    /* z-index: 9999;*/
    padding-bottom: 10px;
}

.frame-search {
    height: 15px;
}

.search-tasks {
    height: 35px;
}

.search-tasks input {
    font: inherit;
    font-size: 14px;
    height: 35px;
    width: 200px;
}

.search-tasks a {
    font-size: 14px;
    height: 35px;
    width: 30px;
    transform: scale(1.0, 1.1);
    text-align: center;
    color: #ffffff;
}

.fluidTaskBar {
    float: left;
    padding: 15px 20px;
    background-color: transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    height: 50px;
    border-radius: 0;
    color: #ffffff;
    border-radius: 7px;
    text-align: center;
    display: block;
    background-color: rgba(2, 152, 210, 0.9);
}

.fluidTaskBar-icon-shown {
    background-color: rgba(2, 102, 200, 0.3);
}

.fluidTaskBar-icon-hidden {
    background-color: rgba(2, 152, 210, 0.9);
}

.fluid-bar-icon-active > .fluidTaskBar {
    background: rgba(2, 102, 200, 0.3);
}

.fluid-bar-icon {
    display: inline-block;
    vertical-align: middle;
    line-height: inherit;
    margin-top: -6px;
    margin-left: -7px;
    font-size: 24px;
    /* transform: scale(1.9, 2.1);*/
}

.fluid-bar-icon-sub-task {
    display: inline-block;
    vertical-align: middle;
    line-height: inherit;
    margin-top: -6px;
    margin-left: -7px;
    font-size: 24px;
    /*transform: scale(1.1, 1.4);
*/
}

.fluid-bar-icon-sub-tasks {
    vertical-align: middle;
    line-height: inherit;
    transform: scale(1.9, 2.1);
}

.fluidTaskBarMore {
    float: left;
    padding: 15px 20px;
    background-color: transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    height: 50px;
    border-radius: 0;
    color: #ffffff;
    border-radius: 7px;
}

.fluid-task-item {
    margin-left: -38px;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 30px;
    text-align: left;
}

.fluid-task-item-active {
    background: rgba(2, 102, 200, 0.3);
}

.fluid-task-item-hidden {
    background: rgba(2, 152, 210, 0.9);
}

li.fluid-task-item a {
    color: white;
}

.fluid-task-item-xs {
    line-height: inherit;
    height: 30px;
}

li.fluid-task-item-xs a {
    vertical-align: middle;
    color: white;
}

.fluid-loader {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    transform: scale(1.9, 2.1);
}

.fluid-notify-icon {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    height: 20px;
    width: 20px;
}

.borderless {
    border: none;
}

/* Margin */

.margin-leftl5px {
    margin-left: -5px;
}

.margin-left5px {
    margin-left: 50px;
}

/* Width */
.width-50pc {
    width: 50%;
}

.width-100pc {
    width: 100%;
}

/* Font */
.app-font {
    font-size: 12px;
    font-style: normal;
    font-stretch: condensed;
}

.color-white {
    color: #f5f5f5;
}

/*Flow*/

.floatLeft {
    float: left;;
}

.margin-center {
    margin: auto !important;
}

.page-header-topbar {
    height: 50px !important;
}

/*width */
.width70px {
    width: 70px;
}

.width120px {
    width: 120px;
}

.width300px {
    width: 300px;
}

.width400px {
    width: 400px;
}

.width268px {
    width: 268px;
}

.max-height120px {
    height: 115px;
    max-height: 120px;
    overflow-y: auto;
}

/*cursor*/
.cursor-pointer {
    cursor: pointer;
}

/*

/!*****************************************************************!/
/!************************** NDG-FIX ******************************!/
/!*****************************************************************!/
/!* FORMS *!/
/!* FORM LABEL *!/
.form-horizontal .form-group label.ndg-label {
    text-align: left;
}

/!* FORM INPUT *!/
.form-horizontal .form-group .ndg-column-input {
}

/!* END FORMS *!/

/!* BREADCRUMB *!/
.ndg-breadcrumb .breadcrumb {
    background-color: #eee;
}

.ndg-breadcrumb .breadcrumb li {
    margin-top: 9px;
}

.ndg-breadcrumb .breadcrumb .form-group {
    margin-bottom: 0px;
}

.ndg-breadcrumb .breadcrumb .button-tool {
    font-size: 18px;
    padding: 3px 6px;
}

/!* END BREADCRUMB *!/

/!* TABLE TOOLS *!/
/!* CPES *!/

.form-horizontal .DTTT_container {
    float: left;
    margin-bottom: 0;
    border-top: solid 1px #ccc;
}

.ColVis {
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
    float: left !important;
    margin-bottom: 0 !important;
}

.ColVis_MasterButton {
    background-image: none !important;
    background: none !important;
    border: none !important;
}

button.ColVis_Button {
    background: none !important;
    position: relative;
    float: left;
    margin-right: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    background-image: none !important;
    background: none !important;
    border: none !important;
    padding: 10px;
    height: 39px !important;
}

.form-horizontal .DTTT_container .DTTT_button {
    background-image: none;
    background: none;
    border: none;
    padding: 10px;
}

.form-horizontal .DTTT_container .DTTT_button:hover {
    background-color: #dfdfdf;
}

/!* TOOLS ON TOP *!/
.form-horizontal .top:before,
.form-horizontal .top:after {
    display: block;
    clear: both;
    content: "";
}

.form-horizontal .top {
    border-top: solid 1px #ccc;
    border-right: solid 1px #ccc;

}

.form-horizontal .top .dataTables_info {
    margin: 0px;
    padding: 10px;
    text-align: left;
    position: absolute;
    right: 0;
    top: 1px;
}

/!* ENTRY *!/
.form-horizontal .top .dataTables_length {
    padding: 8px 10px 7px;
    /!*  border-right: solid 1px #ccc;*!/
    float: right;
}

.form-horizontal .top .dataTables_length label {
    margin: 0px;
}

.form-horizontal .top .dataTables_length select {
    width: 50px;
    border: solid 1px #999;
    height: 22px;
    margin: 0px 5px;
}

/!* PAGINATION *!/
.form-horizontal .top .dataTables_paginate {
    padding: 0;
}

.form-horizontal .top .dataTables_paginate .paginate_button {
    padding: 10px;
    margin: 0px;
    border-right: solid 1px #ccc;
    border-top: none;
    border-left: none;
    border-bottom: none;
}

.form-horizontal .top .dataTables_paginate .previous {
    border-left: solid 1px #ccc;
}

.form-horizontal .top .dataTables_paginate .current {
    background-color: #3498db;
    background-image: none;
    color: #fff !important;
    border-top: none;
    border-left: none;
    border-bottom: none;
}

.form-horizontal .top .dataTables_paginate .disabled {
    color: #999 !important;
}

/!* PAGINATION HOVER STATES *!/
.form-horizontal .top .dataTables_paginate .paginate_button:hover {
    background-color: #3498db;
    background-image: none;
    border-right: solid 1px #ccc;
    border-top: none;
    border-left: none;
    border-bottom: none;
    color: #fff !important;
}

.form-horizontal .top .dataTables_paginate .previous:hover {
    border-left: solid 1px #ccc;
    border-top: none;
    border-bottom: none;
}

.form-horizontal .top .dataTables_paginate .current:hover {
    border-right: solid 1px #ccc;
    border-top: none;
    border-left: none;
    border-bottom: none;
    color: #fff !important;
}

.form-horizontal .top .dataTables_paginate .disabled:hover {
    background: #fff;
    color: #999 !important;
}

/!* SEARCH TOOL *!/
.form-horizontal .top .dataTables_filter {
    padding: 8px 10px 7px;
    border-left: solid 1px #ccc;
    float: left;
}

.form-horizontal .top .dataTables_filter label {
    margin-bottom: 0;
}

.form-horizontal .top .dataTables_filter input {
    padding-bottom: 2px;
    padding-left: 4px;
    border: solid 1px #999;
}

/!* BOTTOM TOOLS *!/
.form-horizontal .bottom .dataTables_info,
.form-horizontal .bottom .dataTables_length,
.form-horizontal .bottom .dataTables_filter {
    display: none;
}

.form-horizontal .bottom .dataTables_paginate {
    padding: 0;
    margin-top: -6px;
    margin-bottom: 10px;
}

.form-horizontal .bottom .dataTables_paginate .paginate_button {
    padding: 5px 10px;
    margin: 0px;
    /!*  border-right: solid 1px #ccc;*!/
    border-top: none;
    border-left: none;
    border-bottom: solid 1px #ccc;
}

.form-horizontal .bottom .dataTables_paginate .previous {
    border-left: solid 1px #ccc;
}

.form-horizontal .bottom .dataTables_paginate .current {
    background-color: #3498db;
    background-image: none;
    color: #fff !important;
    border-top: none;
    border-left: none;
    border-bottom: solid 1px #ccc;
}

.form-horizontal .bottom .dataTables_paginate .disabled {
    color: #999 !important;
}

/!* PAGINATION HOVER STATES *!/
.form-horizontal .bottom .dataTables_paginate .paginate_button:hover {
    background-color: #3498db;
    background-image: none;
    /!*  border-right: solid 1px #ccc;*!/
    border-top: none;
    border-left: none;
    border-bottom: solid 1px #ccc;
    color: #fff !important;
}

.form-horizontal .bottom .dataTables_paginate .previous:hover {
    border-left: solid 1px #ccc;
    border-top: none;
    border-bottom: solid 1px #ccc;
}

.form-horizontal .bottom .dataTables_paginate .current:hover {
    border-right: solid 1px #ccc;
    border-top: none;
    border-left: none;
    border-bottom: solid 1px #ccc;
    color: #fff !important;
}

.form-horizontal .bottom .dataTables_paginate .disabled:hover {
    background: #fff;
    color: #999 !important;
}

/!* END TABLE TOOLS *!/

/!* TABLE TEMPLATE *!/
.form-horizontal table.table {
    margin-top: 0px !important;
    border-bottom: solid 1px #ccc;
}

.form-horizontal table.dataTable thead th {
    padding: 10px;
    border-bottom: solid 1px #ccc;
}

.form-horizontal table.dataTable thead th:first-child {
    border-left: solid 1px #ccc;
}

.form-horizontal table.dataTable thead th:last-child {
    border-right: solid 1px #ccc;
}

.form-horizontal table.dataTable.display tbody tr.odd {
    background-color: #fff;
}

.form-horizontal table.dataTable.display tbody tr.even {
    background-color: #f6f6f6;
}

.form-horizontal table.dataTable.display tbody tr.odd td,
.form-horizontal table.dataTable.display tbody tr.even td {
    background-color: transparent;
    vertical-align: middle;
    border: none;
}

/!* TABLE ROW HOVER STATE *!/
.form-horizontal table.dataTable.display tbody tr.odd:hover,
.form-horizontal table.dataTable.display tbody tr.even:hover {
    background-color: #eaeaea;
}

.form-horizontal table.dataTable.display tbody tr.odd.selected,
.form-horizontal table.dataTable.display tbody tr.even.selected {
    background-color: #eaeaea;
}

.form-horizontal table.dataTable.display tbody tr.odd.selected > .sorting_1,
.form-horizontal table.dataTable.display tbody tr.even.selected > .sorting_1 {
    background-color: #eaeaea;
}
*/

.body-login {
    opacity: 0.5;
}

.header-login {
    opacity: 0.9;
}

.header-login h1 {
    font-family: 'oswald';
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

.body-content {
}

.form-login {
    color: mintcream;
}

.panel-login {
    background: rgba(205, 10, 10, 0.2);
}

.header-about {
    font-size: 12px;
    font-style: italic;
    margin-right: 5px;
    margin-left: 5px;
    color: mintcream;
    background: rgba(205, 10, 10, 0.2);
}

.header-about div {
}

/*PLANNER REDESIGN*/
.ndg-planner.container-fluid {
    padding: 0;
}

.ndg-planner .left-panel {
    padding-right: 0;
}

.ndg-planner .left-panel select {
    padding: 0;
    background-color: #fff;
    background-image: none !important;
}

.ndg-planner .left-panel input[type="text"],
.ndg-planner .left-panel input[readonly],
.ndg-planner .left-panel input[type="number"] {
    padding: 0;
    padding-left: 4px !important;
}

.ndg-paginator {
    width: 100%;
    margin-top: 10px;
}

.ndg-planner .ndg-paginator select {
    padding: 6px 0px 7px;
    background-color: #5bc0de;
    background-image: none !important;
}

.ndg-planner .ndg-paginator .all-btn.active {
    display: none;
}

.ndg-planner table.ndg-ptable {
    margin-top: 10px !important;
    width: 100%;
}

.ndg-planner .ndg-ptable th {
    border-right: solid 1px #eeeeee;
    text-align: center;
    vertical-align: middle !important;
    font-weight: 400;
}

.ndg-planner .ndg-ptable td {
    text-align: left;
    padding: 10px;
    vertical-align: middle;
}

.ndg-planner .ndg-ptable .td-drag {
    background: #468499;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 0;
    min-height: 44px;
    text-align: center;
}

.ndg-planner .ndg-ptable .td-drag a {
    color: #fff;
}

.ndg-planner .right-panel .event-draggable {
    height: auto;
    padding: 15px 0;
    text-align: center;
    min-height: 44px;
}

.ndg-calcon .fc th,
.ndg-calcon .fc td {
    border-left: 0px;
    border-bottom: 0px;
}

.ndg-calcon .fc th:last-child,
.ndg-calcon .fc td:last-child {
    border-right: 0px;
}

.ndg-calcon .fc-toolbar .fc-left {
    padding-left: 20px;
}

.ndg-calcon .fc-toolbar .fc-right {
    padding-right: 20px;
}

.ndg-calcon .fc .fc-toolbar > * > * {
    margin-left: 0px;
}

.ndg-calcon .notes-area {
    width: 100%;
    height: 94% !important;
    min-height: 94% !important;
}

@media (max-width: 1180px) {
    .width300px {
        width: 100%;
    }
}