<div ng-controller="customerInfoCtrl" class="container-fluid form-horizontal">
    <div class="btn-group btn-group-sm form-group">
        <button button info="button" ng-if="!task.origin" ng-click="flow.navTo('customer_agent_home')">Back</button>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">School Year Summary
                <div class="pull-right">
                    <div bg-week5></div>
                    <div bg-week4></div>
                    <div bg-week3></div>
                    <div bg-week2></div>
                    <div bg-week1></div>
                    <div style="float:right;margin-right: 5px">
                        Legends:
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div column="12">
                <flow-field column="3" label="School Year" model="task.agent.schoolYear.description" disabled="true"
                            ng-if="task.origin == 'planner'"></flow-field>
                <div column="3">
                    <fluid-select primary with-host="sourceUrl" class="width100pc"
                                  ng-if="task.origin.source != 'planner'" label="School year"
                                  field-label="description"
                                  model="task.agent.schoolYear"
                                  source-url="services/war/school_year_query/list"
                                  change="task.querySummary()"></fluid-select>
                </div>

                <div column="3">
                    <flow-field class="width100pc" label="Market detail"
                                ng-repeat="market in task.summary.customer.warCustomerMarketSchoolYears | filter: {schoolYear:task.agent.schoolYear.id}| orderBy : 'createdDt' : true | limitTo : 1"
                                disabled="true"
                                model="market.marketPotentialSegment +' - '+market.marketPotential"></flow-field>
                </div>
                <div column="3">
                    <flow-field class="width100pc" label="Customer Code"
                                disabled="true"
                                model="task.summary.customer.customerCode"></flow-field>
                </div>


            </div>

            <canvas column="12" id="{{flow.getElementFlowId('agentMonthlyBarChart')}}" height="70" class="form-group">

            </canvas>
            <table style="overflow: auto" class="table table-responsive table-bordered">

                <thead>
                <th class="bg-primary">Week</th>
                <th class="bg-info" ng-repeat="label in task.summary.activitySummary.labels">
                    {{label}}
                </th>
                </thead>

                <tbody>
                <tr ng-repeat="activitySummary in task.summary.activitySummary.activities | orderBy : activitySummary.week ">
                    <td class="bg-warning">{{activitySummary.week}}</td>
                    <td ng-class="!activitySummary.ecd ? 'bg-danger':'bg-success'">{{activitySummary.ecd ?
                        activitySummary.ecd
                        : 0}}
                    </td>
                    <td ng-class="!activitySummary.ite ?'bg-danger':'bg-success'">{{activitySummary.ite ?
                        activitySummary.ite : 0}}
                    </td>
                    <td ng-class="!activitySummary.coe ? 'bg-danger':'bg-success'">{{activitySummary.coe ?
                        activitySummary.coe : 0}}
                    </td>
                    <td ng-class="!activitySummary.gd?'bg-danger':'bg-success'">{{activitySummary.gd ?
                        activitySummary.gd : 0}}
                    </td>
                    <td ng-class="!activitySummary.doi?'bg-danger':'bg-success'">{{activitySummary.doi ?
                        activitySummary.doi : 0}}
                    </td>
                    <td ng-class="!activitySummary.po?'bg-danger':'bg-success'">{{activitySummary.po ?
                        activitySummary.po : 0}}
                    </td>
                    <td ng-class="!activitySummary.fp?'bg-danger':'bg-success'">{{activitySummary.fp ?
                        activitySummary.fp : 0}}
                    </td>
                    <td ng-class="!activitySummary.daotrc?'bg-danger':'bg-success'">{{activitySummary.daotrc ?
                        activitySummary.daotrc :0}}
                    </td>
                    <td ng-class="!activitySummary.bookList?'bg-danger':'bg-success'">{{activitySummary.bookList ?
                        activitySummary.bookList : 0}}
                    </td>
                    <td ng-class="!activitySummary.ucis?'bg-danger':'bg-success'">{{activitySummary.ucis ?
                        activitySummary.ucis :0}}
                    </td>
                    <td ng-class="!activitySummary.ies ?'bg-danger':'bg-success'">{{activitySummary.ies ?
                        activitySummary.ies :0}}
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="panel-title">Customer Details</span>
        </div>
        <div class="panel-body">
            <div column="12">
                <div column="6">
                    <fieldset>
                        <legend>Contact Information</legend>
                        <table class="table table-responsive table-bordered">
                            <thead>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Decision Maker</th>
                            <th>Contact Details</th>
                            <th>Relationship</th>
                            <th>Birthday</th>
                            <th>Type</th>
                            </thead>
                            <tbody ng-repeat="(lvl,contacts) in task.summary.customer.contactDetails | groupBy: 'level'">
                            <tr class="bg-warning">
                                <td colspan="7">{{lvl}}</td>
                            </tr>
                            <tr ng-repeat="contact in contacts">
                                <td>{{contact.description}}</td>
                                <td>{{contact.positionDesc}}</td>
                                <td>
                                    <i ng-class="contact.decisionMaker ? 'fa fa-check text-success' : 'fa fa-remove text-danger'"></i>
                                </td>
                                <td>{{contact.detail}}</td>
                                <td>{{contact.relationshipType}}</td>
                                <td>{{contact.birthDate | date : 'mm/dd/yyyy'}}</td>
                                <td><i ng-class="contact.type.icon"></i>{{contact.type.label}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>

                </div>
                <div column="6">
                    <fieldset>
                        <legend>Education Levels Offered & Tuition Fee</legend>
                        <table class="table table-responsive table-bordered">
                            <thead>
                            <th>Course</th>
                            <th>Population</th>
                            <th>Tuition Fee from</th>
                            <th>Tuition Fee to</th>
                            </thead>
                            <tbody ng-repeat="(educationLevel,levels) in task.summary.customer.customerLevels | groupBy: 'educationLevel'">
                            <tr>
                                <td colspan="4" class="bg-warning">{{educationLevel}}</td>
                            </tr>
                            <tr ng-repeat="customerLevel in levels">
                                <td>{{customerLevel.levelCourse}}</td>
                                <td>{{customerLevel.population}}</td>
                                <td>{{customerLevel.tuitionFeeFrom}}</td>
                                <td>{{customerLevel.tuitionFeeTo}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
            </div>
            <div column="12">
                <div column="6">
                    <fieldset>
                        <legend>Support Given</legend>
                        <table class="table table-responsive table-bordered">
                            <thead>
                            <th>Description</th>
                            <th>Amount</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="support in task.summary.customer.supportGivens">
                                <td>{{support.description}}</td>
                                <td>{{support.amount}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                <div column="6">
                    <fieldset>
                        <legend>
                            Other Publishers
                        </legend>
                        <table class="table table-responsive table-bordered">
                            <thead>
                            <th>Description</th>
                            <th>Date Created</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="support in task.summary.customer.publisher">
                                <td>{{support.description}}</td>
                                <td>{{support.createdDt | date : 'medium'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
            </div>
            <div column="12">
                <div column="6">
                    <fieldset>
                        <legend>Enrollment Information</legend>
                        <p>{{task.summary.customer.informationOnEnrollment}}</p>
                    </fieldset>
                    <fieldset>
                        <legend>Other Pertinent Information</legend>
                        <table class="table table-condensed">
                            <tr>
                                <td><b>Diocese</b></td>
                                <td align="center"> {{task.summary.customer.diocese ? task.summary.customer.diocese :
                                    'N/A'}}
                                </td>
                            </tr>
                            <tr>
                                <td><b>Congregation</b></td>
                                <td align="center">{{task.summary.customer.congregation ?
                                    task.summary.customer.congregation:'N/A'}}
                                </td>
                            </tr>
                            <tr>
                                <td><b>Association</b></td>
                                <td align="center">{{task.summary.customer.association ?
                                    task.summary.customer.association : 'N/A'}}
                                </td>
                            </tr>
                        </table>
                    </fieldset>

                    <fieldset>
                        <legend>Business Terms</legend>
                        <table class="table table-condensed">
                            <tr>
                                <td><b>Standard/Outright Discount</b></td>
                                <td align="center"> {{task.summary.customer.standardOutrightDiscount ?
                                    task.summary.customer.standardOutrightDiscount :
                                    "N/A"}}
                                </td>
                            </tr>
                            <tr>
                                <td><b>Additional Discount</b></td>
                                <td align="center">{{task.summary.customer.additionalDiscount ?
                                    task.summary.customer.additionalDiscount:'N/A'}}
                                </td>
                            </tr>
                            <tr>
                                <td><b>Incentives</b></td>
                                <td align="center">{{task.summary.customer.incentives ?
                                    task.summary.customer.incentives : 'N/A'}}
                                </td>
                            </tr>
                        </table>
                    </fieldset>

                </div>
                <div column="6">
                    <fieldset>
                        <legend>Buying Cycle</legend>
                        <table class="table table-condensed">
                            <tr>
                                <td><b>Evaluation</b></td>
                                <td align="center">{{task.summary.customer.evaluation.label}}
                                    {{task.summary.customer.evaluationTo ? "to "
                                    +task.summary.customer.evaluationTo.label: ""}}
                                </td>
                            </tr>
                            <tr>
                                <td><b>Ordering</b></td>
                                <td align="center">{{task.summary.customer.ordering.label}}
                                    {{task.summary.customer.orderingTo ? "to "
                                    +task.summary.customer.orderingTo.label: ""}}
                                </td>
                            </tr>
                            <tr>
                                <td><b>Delivery</b></td>
                                <td align="center">{{task.summary.customer.delivery.label}}
                                    {{task.summary.customer.deliveryTo ? "to "
                                    +task.summary.customer.deliveryTo.label: ""}}
                                </td>
                            </tr>
                            <tr>
                                <td><b>Collection</b></td>
                                <td align="center">{{task.summary.customer.collection.label}}
                                    {{task.summary.customer.collectionTo ? "to "
                                    +task.summary.customer.collectionTo.label: ""}}
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <table class="table table-condensed">
                        <tr>
                            <td><b>Using journals</b></td>
                            <td align="center">{{task.summary.customer.usingJournals ? "Yes" : "No"}}
                            </td>
                        </tr>
                        <tr ng-if="task.summary.customer.usingJournals">
                            <td><b>Publisher of journals used</b></td>
                            <td align="center">{{task.summary.customer.journalPublisher}}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Using SRA</b></td>
                            <td align="center">{{task.summary.customer.usingSRA ? "Yes" : "No"}}
                            </td>
                        </tr>
                    </table>
                    <table class="table table-condensed">
                        <tr>
                            <td><b>Buying Process</b></td>
                            <td align="center"> {{task.summary.customer.buyingProcess ?
                                task.summary.customer.buyingProcess :
                                'N/A'}}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Nature of Purchase</b></td>
                            <td align="center">{{task.summary.customer.natureOfPurchase ?
                                task.summary.customer.natureOfPurchase:'N/A'}}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Ownership</b></td>
                            <td align="center">{{task.summary.customer.ownership ?
                                task.summary.customer.ownership : 'N/A'}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

</div>