<div class="container-fluid" ng-controller="menuCtrl">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="row">
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Search" ng-model="menu.search">
                            <span class="input-group-btn">
                                <button class="btn"><span class="fui-search" title="search"></span></button>
                                <!--<button class="btn btn-info btn-sm fui-list" title="list view"-->
                                        <!--ng-click="switchView('list')"></button>-->
                                <!--<button class="btn btn-info btn-sm fui-list-thumbnailed" title="grid view"-->
                                        <!--ng-click="switchView('grid')"></button>-->
                            </span>
            </div>
        </div>
        <div class="row menu_selection">
            <ul ng-show="view === 'list' " class="nav nav-list bg-warning">
                <li ng-repeat="group in resultData">

                    <a href="#" class="dropdown dropdown-toggle " data-toggle="collapse"
                       data-target="#menuDivCollapseList{{group.name}}"><span class="text-info fontSize20px"
                                                                              ng-class="group.iconUri"></span>
                        <span class="marginLeft5px fontSize20px">{{group.title}}</span></a>

                    <div id="menuDivCollapseList{{group.name}}" class="bg-info panel-collapse collapse in menu-module">
                        <ul class="nav nav-list">
                            <li ng-repeat="module in group.flowModules">
                                <a href="#" ng-click="addModule(module)" title="{{module.moduleTitle}}"><p><span
                                        ng-class="module.moduleGlyph" class="text-success"></span> <span>{{module.moduleTitle}}</span>
                                </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>

            <div ng-show="view === 'grid'" class="form-group">
                <button ng-repeat="module in resultData | filter:menu.search"
                        class="col-lg-2 tile_margin btn btn-primary"
                        ng-click=" addModule(module)" style="{{module.style}}"
                        title="{{module.moduleTitle}}" ng-class="module.moduleGlyph">
                </button>
            </div>
        </div>
    </div>


</div>