<div class="container-fluid" ng-controller="levelCtrl">
    <form id="{{flow.getElementFlowId('level_edit_form')}}" class="form-horizontal" role="form" ng-submit="save()"
          novalidate>

        <input id="{{flow.getElementFlowId('level_submit')}}" type="submit"
               style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>

        <label column="6">
            <span>
                Education level
            </span>
            <ui-select ng-model="task.levelCreate.description">
                <ui-select-match placeholder="{{task.level.educationLoaded ? '':'Loading education levels...'}}">
                    {{$select.selected}}
                </ui-select-match>
                <ui-select-choices
                        repeat="education in task.level.educationLevels | filter : $select.search"
                        refresh="task.level.getEducationLevels()">
                    {{education}}
                </ui-select-choices>
            </ui-select>
        </label>

        <label column="6">
            <span>Level course <span class="required">*</span></span>
            <input class="form-control" required ng-model="task.levelCreate.levelCourse">
        </label>
    </form>
</div>