<div class="container-fluid" ng-controller="levelCtrl">
    <form id="{{flow.getElementFlowId('level_edit_form')}}" class="form-horizontal" role="form" ng-submit="save()"
          novalidate>

        <input id="{{flow.getElementFlowId('level_submit')}}" type="submit"
               style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>


        <fluid-select primary with-host="sourceUrl"
                      id="{{flow.getElementFlowId('educationLevelSelect')}}"
                      model="task.levelEdit.description"
                      label="Education Level"
                      source-url="factories/war/table_factories/education_levels"
                      ng-required="true">
        </fluid-select>

        <flow-field model="task.levelEdit.levelCourse" label="Level course" type="text" required="true"></flow-field>

        <flow-modal id="{{flow.getElementFlowId('levelDeleteModal')}}">

            <div class="panel panel-warning">

                <div class="panel-heading">Warning</div>
                <div class="panel-body"><p>Do you want to delete {{task.levelEdit.description}}?</p></div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <button button info="button" class="field-margin" ng-click="deleteConfirm()">Yes</button>
                        <button button danger="button" class="field-margin" ng-click="deleteCancel()">No</button>
                    </div>
                </div>
            </div>

        </flow-modal>
    </form>
</div>