<div class="container-fluid" ng-controller="levelCtrl">
    <form id="{{flow.getElementFlowId('level_edit_form')}}" class="form-horizontal" role="form" ng-submit="save()"
          novalidate>

        <input id="{{flow.getElementFlowId('level_submit')}}" type="submit"
               style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>

        <label column="6">
            <span>
                Education level
            </span>
            <ui-select ng-model="task.levelEdit.description">
                <ui-select-match placeholder="{{task.level.educationLoaded ? '':'Loading education levels...'}}">
                    {{$select.selected}}
                </ui-select-match>
                <ui-select-choices
                        repeat="education in task.level.educationLevels | filter : $select.search"
                        refresh="task.level.getEducationLevels()">
                    {{education}}
                </ui-select-choices>
            </ui-select>
        </label>

        <label column="6">
            <span>Level course <span class="required">*</span></span>
            <input class="form-control" required ng-model="task.levelEdit.levelCourse">
        </label>

        <flow-modal id="{{flow.getElementFlowId('levelDeleteModal')}}">

            <div class="panel panel-warning">

                <div class="panel-heading">Warning</div>
                <div class="panel-body"><p>Do you want to delete {{task.levelEdit.description}}?</p></div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <button button info="button" class="field-margin" ng-click="deleteConfirm()">Yes</button>
                        <button button danger="button" class="field-margin" ng-click="deleteCancel()">No</button>
                    </div>
                </div>
            </div>

        </flow-modal>
    </form>
</div>