<div class="container-fluid form-horizontal" ng-controller="mdCtrl">

    <table id="{{flow.getElementFlowId('md_home_tbl')}}" datatable dt-options="dtOptions" dt-columns="dtColumns"
           class="table table-hover display">
    </table>

    <flow-modal id="{{flow.getElementFlowId('mdDeleteModal')}}">

        <div class="panel panel-warning">

            <div class="panel-heading">Warning</div>
            <div class="panel-body">Do you want to delete {{task.mdEdit.moduleName}}?</div>
            <div class="panel-footer">
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-warning field-margin" type="button" ng-click="deleteConfirm()">Yes</button>
                    <button class="btn btn-info field-margin" type="button" ng-click="deleteCancel()">No</button>
                </div>
            </div>
        </div>

    </flow-modal>

</div>