<div class="container-fluid form-horizontal" ng-controller="groupCtrl">

    <table datatable dt-options="dtOptions" dt-columns="dtColumns"
           class="table table-hover display" dt-instance="dtInstance">
    </table>

    <flow-modal id="{{flow.getElementFlowId('groupDeleteModal')}}">

        <div class="panel panel-warning">

            <div class="panel-heading">Warning</div>
            <div class="panel-body"><p>Do you want to delete {{task.groupEdit.groupName}}?</p></div>
            <div class="panel-footer">
                <div class="btn-group">
                    <button button info="button" class="field-margin" ng-click="deleteConfirm()">Yes</button>
                    <button button danger="button" class="field-margin" ng-click="deleteCancel()">No</button>
                </div>
            </div>
        </div>

    </flow-modal>

</div>